footer(role='contentinfo')
    .legal
        | &copy; Universidad de Sevilla. Grupos de investigaci&oacute;n 
        span HUM-666
        |  y 
        span TEP-130
      .contributors
        a.logo(href='#')
          img(src='images/bo_logo_juntaandalucia.png', alt='Logo Agencia de Obra Publica de la Junta de Andalucia, Consejería de Fumento y Vivienda')
        a.logo(href='#')
          img(src='images/bo_logo_juntaandalucia_eu.png', alt='Logo Andalucia se mueve con Europa')
        a.logo(href='#')
          img.Logo.Fondo.Europeo.de.Desarrollo.Regional(src='images/bo_logo_fondo_eu.png', alt='', class='Unión Europea,')
        a.credits.logo(href='#')
          img(src='images/bo_logo_gscope.svg', alt='gscope ')
          | Powered by 
          span gscope
