extends layout
block content
	div(id="content")
		include data_list.jade

	block js
		script.
			mainData = new MainData();
			familyObject = new Family();
			indicatorObject = new Indicator();
			dataLevelObject = new DataLevel();
			mainData.onReady();