doctype html
html
    head
        title= title
        meta(charset='utf8')
        meta(name='author' content='Geographica')
        meta(name='Description' content='#{desc}')
        
        link(rel='stylesheet', href='/lib/leaflet-0.7.3/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        script(src='https://www.google.com/jsapi' type="text/javascript")

        if 'production' != process.env.NODE_ENV 
            script(src='/lib/jquery-2.1.3.js')
            script(src='/lib/leaflet-0.7.3/leaflet.js')
            script(src='/js/global.js')
            script(src='/js/family.js')
            script(src='/js/indicator.js')
            script(src='/js/main_data.js')
            script(src='/js/data_level.js')

        else
            script(src='/js/main.js')

    body()

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-9148278-71', 'auto');
          ga('send', 'pageview');



        //- script.
        //-     globalObject = new Global();
        header(class="banner")
            .brand.logo
                h1
                    a(href='/')
                      img(src='images/bo_logo.svg', alt='MBP Proyecto de Investigacion: Intervención en barriadas residenciales obsoletas')
            
            nav
                li(class="active")
                    a(href="data") Datos
                    .triangle
                li
                    a(href="indicators") Índices de obsolescencia
                    .triangle

            .logo
              a(href='http://www.etsa.us.es/' target="_blank")
                img(src='images/bo_logo_universidadsevilla.png', alt='Logo Universidad de Sevilla')
            .logo
              a(href='http://investigacioncontemporanea.com/' target="_blank")
                img(src='images/bo_logo_capc_2.png', alt='CAPC y TEP')
            .logo
              a(href='http://grupo.us.es/grupotep130/' target="_blank")
                img(src='images/bo_logo_tep.png', alt='TEP')
        
        script.
            globalObject = new Global();

        div(class='global_content')
            block content
            div(id="map")

        include footer.jade
        block js

        script.
            globalObject.onReady();









    
